#cubemap {
    width: 800px;
    height: 600px;
    position: relative;
    margin-top: 15px;
}

.dropzone-area {
    border: 2px dashed white;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s;

    &.dragging {
        background-color: white;

        .custom-file-upload {
            color: black;
        }
    }
}
.hidden-file-input {
    display: none;
}

.custom-file-upload {
    padding: 20px;
    cursor: pointer;
    border: 1px solid white;
    display: inline-block;
    transition: background-color 0.3s;
}
.custom-file-upload:hover {
    color: black;
    background-color: white;
}

.error-message {
    color: red;
}

.bg-black {
    background-color: #151515 !important;
}

.language-link {
    color: white;
    border: 1px solid white;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s;

    &:hover {
        color: black;
        background-color: white;
    }
}


