$link-color: #7af;
$link-hover-color: #aef;

#cubemap {
    width: 800px;
    height: 600px;
    position: relative;
    margin-top: 15px;
}

#preview {
    width: 800px;
    height: 400px;
    position: relative;
    margin-top: 15px;
}


.dropzone-area {
    border: 2px dashed white;
    padding: 25px;
    text-align: center;

    &.dragging {
        background-color: white;

        .custom-file-upload {
            color: black;
        }

        .drag-drop-text{
            color: black;
        }
    }
}
.hidden-file-input {
    display: none;
}

.custom-file-upload {
    color: $link-color;
    cursor: pointer;
    display: inline-block;

    &:hover {
        color: $link-hover-color;
    }
}

.error-message {
    color: red;
}

.bg-black {
    background-color: #151515 !important;
}

.language-link {
    color: white;
    border: 1px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 5px;

    &:hover {
        color: black;
        background-color: white;
    }
}


.downloadLinkButton {
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 10px;
    word-wrap: break-word; /* Add this line */
    overflow-wrap: break-word; /* Add this line */
    white-space: normal; /* Add this line */
    word-break: break-all; /* Add this line */
}
.fileNameDisplayClass {
    word-wrap: break-word; /* Add this line */
    overflow-wrap: break-word; /* Add this line */
    white-space: normal; /* Add this line */
    word-break: break-all; /* Add this line */
}



/* Cube Face Label */
.cube-face-label {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    top: 10px;
    left: 10px;
    z-index: 2;
}


a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-hover-color;
    }
}
