#cubemap {
    width: 800px;
    height: 600px;
    position: relative;
    margin-top: 15px;
}

#preview {
    width: 800px;
    height: 400px;
    position: relative;
    margin-top: 15px;
}


.dropzone-area {
    border: 2px dashed white;
    padding: 25px;
    text-align: center;
    transition: background-color 0.3s;

    &.dragging {
        background-color: white;

        .custom-file-upload {
            color: black;
        }
    }
}
.hidden-file-input {
    display: none;
}

.custom-file-upload {
    color: aqua;
    cursor: pointer;
    // border: 1px solid white;
    // border-bottom: 2px solid white;
    // border-right: 2px solid white;
    display: inline-block;
    // transition: background-color 0.3s;
}

.error-message {
    color: red;
}

.bg-black {
    background-color: #151515 !important;
}

.language-link {
    color: white;
    border: 1px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s;

    &:hover {
        color: black;
        background-color: white;
    }
}

a {
    color: aqua;
    text-decoration: none;
}


.downloadLinkButton {
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 10px;
    word-wrap: break-word; /* Add this line */
    overflow-wrap: break-word; /* Add this line */
    white-space: normal; /* Add this line */
    word-break: break-all; /* Add this line */
}
.fileNameDisplayClass {
    word-wrap: break-word; /* Add this line */
    overflow-wrap: break-word; /* Add this line */
    white-space: normal; /* Add this line */
    word-break: break-all; /* Add this line */
}